@import "./../../variable.scss";

.notiItem {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  column-gap: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid lightgrey;
  }
}

.notiTime {
  width: 13rem;
  flex-shrink: 0;
}

.notiContent {
  flex-grow: 1;
  // width: 45%;
}

.btnGroup {
  width: 35rem;
  flex-shrink: 0;
  display: flex;
  column-gap: 1rem;
  justify-content: flex-end;
}

.iconBox {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.iconGreen {
  color: $color-primary-light;
  background-color: $color-primary;
}

.iconBlue {
  background-color: deepskyblue;
  color: #ebf6fa;
}

.iconOrange {
  color: lightyellow;
  background-color: orange;
}

@media only screen and (max-width:81.25em) {
  .notiItem {
    padding: 1rem
  }

  .notiTime {
    width: 12rem;
  }

  .btnGroup {
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .notiItem {
    flex-direction: column;
    padding: 1rem 2rem;
    row-gap: 1rem;
  }

  .btnGroup {
    flex-direction: row;
    column-gap: 1rem;
  }
}