@import "./../../variable.scss";

.order {
  position: relative;
  border-bottom: 1px solid lightgrey !important;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  padding: 1.5rem 0;
  margin: 0 2rem;
  transition: all 0.3s;
}

.product {
  margin-left: 3rem;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.productImg {
  width: 8rem;
}

.orderBtnGroup {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  margin-top: 1rem;
  display: flex;
  column-gap: 1rem;
}

.boldText {
  color: gray; // color: $color-grey-dark;
  font-weight: 600;
}

.boldTitle {
  font-weight: 700;
  color: $color-primary;
  cursor: pointer;
}

.color {
  margin-left: 1rem;
  margin-bottom: -2px;
  display: inline-block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid $color-grey-dark;
}

.subTitle {
  display: none;
}


.productBoxSmall {
  width: 90%;
  display: flex;
  column-gap: 2rem;
}

.productBoxLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h5 {
    color: $color-primary;
    font-size: $default-font-size;
    margin-bottom: 0 !important;
  }
}

.productImg {
  width: 8rem;
}

.rating {
  font-size: 3rem !important;
}


@media only screen and (max-width: 62.5em) {
  .product {
    margin-left: 0;
  }

  .productImg {
    width: 6rem;
  }
}

@media only screen and (max-width: 46.87em) {
  .order {
    display: flex;
    flex-direction: column;
  }

  .orderBtnGroup {
    flex-direction: column;
    row-gap: 1rem;
  }

  .subTitle {
    color: $color-grey-dark;
    font-weight: 600;
    display: inline-block;
    margin-left: 8rem;
    width: 8rem;
  }
}

@media only screen and (max-width: 25rem) {
  .orderBtnGroup {
    position: relative;
    bottom: auto;
    left: 8rem;
    flex-direction: row;
    column-gap: 1rem;
  }
}