@import "./../../variable.scss";

.item {
  font-size: $default-font-size;
  color: $color-grey-dark;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  border-bottom: 1px solid lightgray;
  padding: 1.5rem 1rem 1rem;
}

.imgContainer {
  position: relative;
}

.quantity {
  width: 3rem;
  height: 3rem;
  background-color: $color-primary-light;
  color: $color-primary;
  position: absolute;
  right: 1px;
  bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 0 0.3rem 0;
}

.itemImg {
  width: 8rem;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.color {
  margin-left: 1rem;
  margin-bottom: -2px;
  display: inline-block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid $color-grey-dark;
}

.itemTitle {
  font-weight: 600;
  color: $color-primary;
}

.itemPrice {
  margin-left: auto;
  width: 28%;
  display: flex;
  justify-content: flex-end;
}


@media only screen and (max-width: 37.25em) {
  .item {
    column-gap: 1.5rem;
  }

  .itemImg {
    width: 6rem;
  }

  .quantity {
    width: 2rem;
    height: 2rem;
    font-size: 10px;
  }
}