@import "./../../variable.scss";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid $color-grey-light;
  column-gap: 5rem;
  padding: 1rem 0;
  position: relative;

  img {
    width: 10rem;
  }

  .quantity,
  .itemInfo {
    display: flex;
    align-items: center;
  }

  .itemInfo {
    // width: 35%;
    gap: 1rem;
    margin-right: auto;

    p {
      font-weight: 500;
      // width: 50%;
    }

    .color {
      margin-left: 1rem;
      margin-bottom: -2px;
      display: inline-block;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      border: 1px solid $color-grey-dark;
    }
  }

  .quantity {
    width: 55%;
    gap: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-shrink: 0;

    .totalPrice {
      width: 20%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .icon {
    height: 3rem;
    width: 3rem;
    color: darkred;
    cursor: pointer;
  }
}

.availableQuantity {
  color: palevioletred;
  margin-bottom: 1rem;
}
