.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;

  img {
    width: 10rem;
  }

  .quantity,
  .itemInfo {
    display: flex;
    align-items: center;
  }

  .itemInfo {
    width: 30%;
    gap: 1rem;

    p {
      width: 50%;
    }
  }

  .quantity {
    width: 55%;
    gap: 2rem;
  }

  .icon {
    height: 3rem;
    width: 3rem;
    color: darkred;
    cursor: pointer;
  }
}
