@import "./../../variable.scss";

.container {
  margin-bottom: 3rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;

  &:hover {
    img {
      transform: scale(1.15);
    }
  }

  img {
    width: 40vw;
    height: 65vh;
    filter: brightness(50%);
    transition: all 0.4s ease;
    object-fit: cover;
    transform: scale(1.05);
  }

  .blogDetails {
    position: absolute;
    left: 5rem;
    bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      color: white;
      font-size: $medium-title-font-size;
      line-height: 4rem;
      margin: 1rem 2rem 1rem 0;
    }

    .publicDate {
      color: $color-grey-light;
      font-size: 1.4rem;
    }
  }
}
