@import "../../../variable.scss";

.nav {
  padding: 0 8rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 100;

  box-shadow: 0 0.2rem 2rem rgba($color-grey, 0.1);
}

.navList {
  list-style: none;
  display: flex;
}

.mainNav,
.subNav {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: $color-grey;
}

.cart {
  margin-top: 0.5rem;
  display: inline-block;
  position: relative;
}

.quantity {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: $color-primary;
  color: $color-primary-light;
  font-size: $default-font-size;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userMenuBox {
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    .userMenu {
      display: block;
    }
  }
}

.userMenu {
  box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.2);
  display: none;
  width: 17.5rem;
  position: absolute;
  top: 3.5rem;
  right: -7rem;
  list-style: none;
  font-size: $default-font-size;

  li {
    background-color: $color-primary;
    color: $color-primary-light;
    transition: all 0.3s;
    padding: 1rem 3rem 1rem 2rem;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-light;
      color: $color-primary;
    }
  }
}

.mobileNav {
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 4vh;

  &:hover span::after {
    top: 1.2rem
  }

  &:hover span::before {
    top: -1.2rem
  }

  span {
    position: relative;
    background-color: $color-grey-dark;
    display: inline-block;
    height: 3px;
    width: 3.5rem;

    &::after,
    &::before {
      content: "";
      display: inline-block;
      background-color: $color-grey-dark;
      height: 3px;
      width: 3.5rem;
      transition: all .3s;
      position: absolute;
    }

    &::before {
      top: -1rem
    }

    &::after {
      top: 1rem
    }
  }
}

@media only screen and (max-width: 68.75em) {
  .nav {
    padding: 0 3rem;
  }

  // .navList,
  // .subNav {
  //   display: none;
  // }
}

@media only screen and (max-width: 50em) {

  .subNav,
  .navList {
    display: none;
  }
}