@import "../../../index.scss";

.nav {
  padding: 0 8rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 100;
}

.navList {
  list-style: none;
  display: flex;
}

.subNav {
  display: flex;
  align-items: center;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: $color-grey;
  margin-left: 1rem;
}
