@import "../../../index.scss";

.nav {
  padding: 0 8rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 100;
}

.navList {
  list-style: none;
  display: flex;
}

.subNav {
  display: flex;
  align-items: center;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: $color-grey;
  margin-left: 1rem;
}

.cart {
  display: inline-block;
  position: relative;
}

.quantity {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: $color-primary;
  color: $color-primary-light;
  font-size: $default-font-size;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
