@import "./../../variable.scss";

.container {
  display: flex;
  height: 55vh;
}

.slider-wrapper {
  width: 40rem;
}

.nextArrow,
.prevArrow {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.nextArrow {
  left: 0;
}

.prevArrow {
  right: 2rem;
}

.icon {
  height: 5rem;
  width: 5rem;
  fill: $color-primary;
}

.slick-slide-image {
  width: 95%;
}

.thumbnail-slider-wrap {
  width: 10rem;
  margin-right: 2rem;

  img {
    border: 2px solid $color-primary;
  }
}

@media only screen and (max-width: 75em) {
  .container {
    height: auto;
  }

  .slider-wrapper {
    width: 32rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .slider-wrapper {
    width: 30rem;
  }
}

@media only screen and (max-width: 25em) {
  .slider-wrapper {
    width: 25rem;
  }
}