@import "./../../index.scss";

.container {
  display: flex;
}

.slider-wrapper {
  width: 24vw;
}

.slick-slide-image {
  width: 95%;
}

.thumbnail-slider-wrap {
  width: 8vw;
  margin-right: 2rem;

  img {
    border: 2px solid $color-primary;
  }
}
