@import "./../../index.module.scss";

.formContainer {
    padding: 10rem;
    background-color: $color-primary-light;

    .form {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10rem;

        .inputContainer {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }

        input,
        textarea,
        select {
            width: 100%;
            border-radius: 0.5rem;
            border: 1px solid $color-grey-light;
            color: $color-grey;
            background-color: white;
            font-family: "Poppins", sans-serif;
            font-size: $default-font-size;

            &:active,
            &:hover {
                border: 1px solid $color-primary;
                outline: none;
            }

            &::placeholder {
                font-family: "Poppins", sans-serif;
                color: lightgrey;
                font-size: $default-font-size;
            }
        }

        input {
            height: 4rem;
        }

        textarea,
        select {
            outline: none;
            padding: .7rem 1.5rem;
        }

        option {
            &:hover {
                background-color: $color-primary;
            }
        }

        .btn {
            align-self: center;
            border: none;
            border-radius: 10rem;
            background-color: $color-primary;
            color: $color-grey-light;
            padding: 1rem 3rem;
            text-transform: uppercase;
            font-size: $default-font-size;
            grid-column: 1/5;
        }

        .errors {
            margin-top: 3px;
            margin-left: 1.5rem;
            font-size: $tiny-font-size;
            color: darkred;
        }

        .link {
            color: $color-primary-dark;
            font-size: 1.2rem;
            text-align: center;
            margin-top: 1rem;
        }
    }
}

.colorsList {
    width: 23rem;
    list-style: none;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    .colorItem {
        width: 6rem;
        height: 4rem;
        border-radius: .5rem;
        margin: .75rem;
        position: relative;

        &:hover .deleteColorIcon {
            display: inline-block;
        }

        .deleteColorIcon {
            transition: all .3s;
            display: none;
            position: absolute;
            top: -.7rem;
            right: -.7rem;
            width: 2rem;
            height: 2rem;
            color: darkred;
            background-color: white;
            border-radius: 50%;
        }
    }

}

.title {
    grid-row: 1 /2;
    grid-column: 1 / 3;
}

.about {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.images {
    grid-row: 3 / 4;
    grid-column: 1/3;
}

.colors {
    grid-row: 1/5;
    grid-column: 3/4;

    display: flex;
    gap: 2rem;
}

.size {
    grid-row: 4/5;
    grid-column: 1/3;
}

.price {

    grid-row: 5/6;
    grid-column: 1/2;
}

.salePercent {
    grid-row: 5/6;
    grid-column: 2/3;
}