@import "./../../index.module.scss";

.formContainer {
  padding: 10rem 20rem;
  background-color: $color-primary-light;

  h2 {
    color: $color-primary;
  }

  .form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 3rem;
    grid-template-rows: auto;

    .inputContainer {
      // height: fit-content;
      &:not(:last-child) {
        margin-bottom: 0rem;
      }
    }

    label {
      color: $color-primary;
      font-size: $default-font-size;
      font-weight: bold;
    }

    input,
    textarea,
    select {
      width: 100%;
      border-radius: 0.5rem;
      border: 1px solid $color-grey-light;
      color: $color-grey;
      background-color: white;
      font-family: "Poppins", sans-serif;
      font-size: $default-font-size;

      &:active,
      &:hover {
        border: 1px solid $color-primary;
        outline: none;
      }

      &::placeholder {
        font-family: "Poppins", sans-serif;
        color: lightgrey;
        font-size: $default-font-size;
      }
    }

    input {
      display: inline-block;
      height: 5rem;
    }

    textarea,
    select {
      outline: none;
      padding: 1rem 1.5rem;
    }

    option {
      &:hover {
        background-color: $color-primary;
      }
    }

    .btn {
      margin-top: 3rem;
      cursor: pointer;
      display: inline-block;
      align-self: center;
      border: none;
      border-radius: 10rem;
      background-color: $color-primary;
      color: $color-grey-light;
      padding: 1rem 3rem;
      text-transform: uppercase;
      font-size: $default-font-size;
      grid-column: 1/5;
      margin-bottom: 1rem;
    }

    .errors {
      margin-top: 3px;
      margin-left: 1.5rem;
      font-size: $tiny-font-size;
      color: darkred;
    }

    .link {
      color: $color-primary-dark;
      font-size: 1.2rem;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.colorsContainer {
  width: 23rem;

  .colorsList {
    list-style: none;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  h5 {
    color: $color-primary;
    font-size: $default-font-size;
  }

  span {
    width: 20rem;
    height: 10rem;
    border-radius: 0.5rem;
  }

  .colorItem {
    width: 5.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    margin: 0.7rem;
    position: relative;

    &:hover .deleteColorIcon {
      display: inline-block;
    }

    .deleteColorIcon {
      cursor: pointer;
      transition: all 0.3s;
      display: none;
      position: absolute;
      top: -0.7rem;
      right: -0.7rem;
      width: 2rem;
      height: 2rem;
      color: darkred;
      background-color: white;
      border-radius: 50%;
    }
  }
}

.title {
  grid-row: 1 /2;
  grid-column: 1 / 11;
}

.about {
  grid-row: 5 / 6;
  grid-column: 1 /11;
}

.images {
  grid-row: 3 / 4;
  grid-column: 1/11;
}

.colors {
  grid-row: 1/6;
  grid-column: 11/17;

  display: flex;
  gap: 2rem;
  // margin-bottom: 4rem;
}

.size {
  grid-row: 4/5;
  grid-column: 1/11;
}

.price {
  grid-row: 2/3;
  grid-column: 1/6;
}

.salePercent {
  grid-row: 2/3;
  grid-column: 6/11;
}

// details

.livingConditions {
  grid-column: 1/5;
}

.plantCare {
  grid-column: 5 / 9;
}

.commonProblems {
  grid-column: 9/13;
}

.decorTips {
  grid-column: 13/17;
}
