@import "./../../index.scss";

.title {
    font-size: 4rem;
    text-transform: uppercase;
    color: $color-primary;
}

.statisticContainer {
    font-size: 1.6rem;
    margin-top: 1rem;

    .statistic {
        color: $color-grey;

        &:not(:first-child) {
            padding-left: 2rem;
        }

        &:not(:last-child) {
            padding-right: 2rem;
            border-right: 1px solid $color-grey-light;
        }
    }
}

.optionContainer {
    .optionTitle {
        color: $color-primary;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .optionList {
        list-style: none;
        display: flex;
    }

    .optionItem {
        color: $color-primary;
        font-size: 1.4rem;
        border: 1px solid $color-grey-light;
        border-radius: 3px;
        padding: 1rem 2rem;
        text-transform: capitalize;
        transition: all .3s;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        &:hover {
            color: $color-primary;
            border: 1px solid $color-primary;
        }
    }

    .optionItem.active {
        color: $color-primary;
        border: 1px solid $color-primary;
    }

}