@import "./../../index.scss";

.productContainer {
  cursor: pointer;
  width: 19vw;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem;
  margin: 1rem;
  position: relative;

  .buttonCustom {
    cursor: pointer;
    margin-top: 0.5rem;
    visibility: hidden;
    box-shadow: 0 2rem 2rem $color-grey-light;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 1rem 2rem rgba($color-grey-dark, 0.2);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color-grey-dark, 0.2);
      transform: translateY(0px);
    }
  }

  &:hover {
    box-shadow: 1rem 1rem 1rem $color-grey-light;

    .buttonCustom {
      visibility: visible;
    }
  }

  .iconContainer {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: 50%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      height: 1.5rem;
      width: 1.5rem;
      fill: $color-primary;
    }
  }

  .imgContainer {
    padding: 1rem;
    width: 19vw;
    min-height: 45vh;
    border-radius: 2rem;
    background-color: $color-primary-light;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 14vw;
    }
  }

  .productDetails {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.8rem;
      color: $color-grey-dark;
      font-weight: 600;
      text-align: center;
    }
  }
}