@import "./../../index.scss";

.description {
  color: $color-grey;
  margin: 1rem;

  .about {
    margin-bottom: 1rem;
  }

  .note {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 1rem;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    .icon {
      grid-column: 1 / 2;
    }

    p {
      grid-column: 2 / 3;
    }
  }
}

.plantCare {
  margin: 2rem;
  color: $color-grey;

  h4 {
    color: $color-primary;
    font-weight: 600;
  }

  .plantCareItem {
    display: flex;
    align-items: center;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.icon {
  color: $color-primary;
  height: 2.5rem;
  width: 2.5rem;
}
