@import "./../../index.module.scss";

.order {
    border-bottom: 1px solid lightgrey !important;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    padding: 1.5rem 0;
    margin: 0 2rem;
    transition: all .3s;

    &:hover {
        background-color: $color-primary-light;
    }
}

.product {
    margin-left: 3rem;
    justify-self: flex-start;
    display: flex;
    column-gap: 2rem;
}

.productImg {
    width: 8rem;
}


.orderBtnGroup {
    margin-top: 1rem;
    display: flex;
    column-gap: 1rem;
}

.orderBtn {
    // font-size: $default-font-size;
    background-color: white;
    color: $color-primary;
    border: 1px solid $color-primary;
}

.boldText {
    color: gray; // color: $color-grey-dark;
    font-weight: 600;
}

.boldTitle {
    font-weight: 700;
    color: $color-primary;
    cursor: pointer;
}