@import "./../../variable.scss";

.formContainer {
  margin-top: 4rem;
  width: 100%;
  position: relative;

  h5 {
    color: $color-primary;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 4rem;

    .inputContainer {
      width: 100%;
      height: fit-content;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      label {
        color: $color-primary;
        font-size: $default-font-size;
        font-weight: bold;
      }
    }

    input,
    textarea,
    select {
      width: 100%;
      border-radius: 0.5rem;
      border: 1px solid $color-grey-light;
      color: $color-grey;
      background-color: white;
      font-family: "Poppins", sans-serif;
      font-size: $default-font-size;

      &:active,
      &:hover {
        border: 1px solid $color-primary;
        outline: none;
      }

      &::placeholder {
        font-family: "Poppins", sans-serif;
        color: lightgrey;
        font-size: $default-font-size;
      }
    }

    input {
      display: inline-block;
      height: 5rem;
    }

    textarea,
    select {
      outline: none;
      padding: 1rem 1.5rem;
    }

    .btn {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      display: inline-block;
      border: none;
      border-radius: 3px;
      background-color: $color-primary;
      color: $color-grey-light;
      padding: 0.7rem 1.5rem;
      // text-transform: uppercase;
      font-size: $default-font-size;
      margin-bottom: 0.5rem;
    }

    .errors {
      margin-top: 3px;
      margin-left: 1.5rem;
      font-size: $tiny-font-size;
      color: darkred;
    }

    .link {
      color: $color-primary-dark;
      font-size: 1.2rem;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.colorsContainer {
  width: 23rem;

  .colorsList {
    list-style: none;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  h5 {
    color: $color-primary;
    font-size: $default-font-size;
  }

  span {
    width: 20rem;
    height: 10rem;
    border-radius: 0.5rem;
  }
}

.btnGroup {
  display: flex;
  column-gap: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.sizeList {
  list-style: none;
  display: flex;
  column-gap: 2rem;
}

.sizeItem {
  color: $color-primary;
  font-size: 1.4rem;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  padding: 1rem 3rem;
  text-transform: capitalize;
  transition: all 0.3s;
  cursor: pointer;
}

.sizeItem.active {
  color: $color-primary;
  border: 1px solid $color-primary;
}

.size {
  width: 80%;
}

.colors {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
