@import "./../../index.module.scss";

.container {
    font-size: $default-font-size;


    .summary {
        // margin-left: 6rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .ratingStatistics {

            width: 20rem;
            display: grid;
            grid-template-columns: 1fr 3fr;
            column-gap: 2rem;

            .average {
                font-size: 3.5rem;
                grid-row: 1 / 3;
                grid-column: 1 / 2;
            }

            .averageStars {
                font-size: 4rem;
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }

            .total {
                grid-row: 2 / 3;
                grid-column: 2 / 3;
            }

            .count {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
                list-style: none;

                li {
                    color: $color-grey;
                    font-size: $tiny-font-size;
                    display: flex;
                    align-items: center;
                    margin: .7rem 0;
                    gap: 2rem;
                }
            }
        }

        .btnContainers {
            .btn {
                display: inline-block;
            }
        }
    }


}