@import "./../../index.scss";

.container {
    font-size: $default-font-size;

    .summary {
        // margin-left: 6rem;
        margin-bottom: 6rem;

        .ratingStatistics {
            width: 10rem;
            display: grid;
            grid-template-columns: 1fr 3fr;
            column-gap: 1rem;

            .average {
                font-size: 3.5rem;
                grid-row: 1 / 3;
                grid-column: 1 / 2;
            }

            .averageStars {
                font-size: 4rem;
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }

            .total {
                grid-row: 2 / 3;
                grid-column: 2 / 3;
            }

            .count {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
                list-style: none;

                li {
                    color: $color-grey;
                    font-size: $tiny-font-size;
                    display: flex;
                    align-items: center;
                    margin: .7rem 0;
                    gap: 2rem;
                }
            }
        }
    }
}