@import "./../../../../index.module.scss";

.item {
  color: $color-grey-dark;
  font-size: $default-font-size;
  border-bottom: 1px solid lightgrey;

  .itemTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.formGroupItem {
  width: 100%;
  //   display: grid;
  //   grid-template-columns: repeat(16, 1fr);
  //   column-gap: 3rem;

  .inputContainer {
    h5 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
      color: $color-primary;
      font-size: $default-font-size;
      margin-bottom: 0.5rem;
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  input,
  textarea,
  select {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid $color-grey-light;
    color: $color-grey;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-size: $default-font-size;
    margin-bottom: 1rem;

    &:active,
    &:hover {
      border: 1px solid $color-primary;
      outline: none;
    }

    &::placeholder {
      font-family: "Poppins", sans-serif;
      color: lightgrey;
      font-size: $default-font-size;
    }
  }

  input {
    height: 4rem;
  }

  textarea,
  select {
    outline: none;
    padding: 0.7rem 1.5rem;
  }

  option {
    &:hover {
      background-color: $color-primary;
    }
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    align-self: center;
    border: none;
    border-radius: 10rem;
    background-color: $color-primary;
    color: $color-grey-light;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: $default-font-size;
    grid-column: 1/5;
    margin-bottom: 1rem;
  }

  .errors {
    margin-top: 3px;
    margin-left: 1.5rem;
    font-size: $tiny-font-size;
    color: darkred;
  }

  .link {
    color: $color-primary-dark;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
  }
}

.icon {
  height: 3rem;
  width: 3rem;
  transition: all 0.3s;
  padding: 0.3rem;
  border-radius: 3px;
}

.iconBlue {
  color: deepskyblue;
  &:hover {
    background-color: deepskyblue;
    color: white;
  }
}
.iconRed {
  color: darkred;
  &:hover {
    background-color: darkred;
    color: white;
  }
}
