@import "./../../../variable.scss";

.quantityContainer {
  display: flex;
  align-items: center;

  .icon {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
  }

  .quantityInput {
    margin: 0 1rem;
    border-radius: 3px;
    width: 10rem;
  }
}
