@import "../../index.scss";

.container {
  background-color: $color-primary-light;
  height: 100vh;
  padding: 7rem 4rem 7rem 12rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      line-height: 7rem;
      font-size: 6rem;
      font-weight: 400;
      color: $color-grey-dark;

      span {
        font-size: inherit;
        font-weight: 700;
        color: $color-primary;
      }
    }

    p {
      font-size: 1.7rem;
      color: $color-grey;
    }
  }

  img {
    height: 85vh;
    border-radius: 5rem;
    box-shadow: 0 1rem 3rem rgba($color-grey, 0.3);
    margin-right: -7rem;
  }

  .description {
    margin: 2rem 0;
  }

  .contact {
    margin-right: 2rem;
    list-style: none;

    li {
      transform: rotate(-90deg);
      font-size: $default-font-size;
      color: $color-grey;

      &:not(:first-child) {
        margin-top: 8rem;
      }
    }
  }
}