@import "./../index.scss";

.container {
  padding: 4rem 10rem;
  display: grid;
  grid-template-columns: 1.8fr 1fr 1.3fr;
  row-gap: 6rem;
  column-gap: 4rem;
  // background-color: $color-primary-light;

  .images {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .info {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .details {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .similarProducts {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .reviews {
    // margin-top: 5rem;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }
}
