@import "./../variable.scss";

html {
  top: 0 !important;
}

.container {
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .formContainer {
    padding: 3rem;
    background-color: $color-primary-light;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%, -50%);

    h2 {
      color: $color-primary;
    }

    .form {
      width: 30vw;
      display: flex;
      flex-direction: column;

      .inputContainer {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      .label {
        display: block;
        font-size: $default-font-size;
        color: $color-primary;
        margin-bottom: 1rem;
      }

      input {
        width: 30vw;
        border-radius: 0.5rem;
        border: 1px solid transparent;
        height: 4rem;
        color: $color-grey;
        font-family: "Poppins", sans-serif;
        font-size: $default-font-size;

        &:active,
        &:hover {
          border: 1px solid $color-primary;
        }

        &::placeholder {
          font-family: "Poppins", sans-serif;
          color: lightgrey;
          font-size: $default-font-size;
        }
      }

      .errors {
        margin-top: 3px;
        margin-left: 1.5rem;
        font-size: $tiny-font-size;
        color: darkred;
      }

      .link {
        text-decoration: underline;
        text-decoration-color: $color-primary-dark;
        text-underline-offset: 3px;
        color: $color-primary-dark;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
}

.bigError {
  color: darkred;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.btn {
  align-self: center;
  border: none;
  border-radius: 10rem;
  background-color: $color-primary;
  color: $color-grey-light;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: $default-font-size;
  cursor: pointer;
}

.disabledBtn {
  align-self: center;
  border: none;
  border-radius: 10rem;
  background-color: $color-grey;
  color: $color-grey-dark;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: $default-font-size;
  cursor: not-allowed;
}

.infoBox {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary-light;
  padding: 3rem 4rem;
  border-radius: 3px;

  h2 {
    align-self: flex-start;
  }

  p {
    color: $color-primary;
    font-size: $default-font-size;
    margin-bottom: 2rem;
  }
}