@import "./../index.module.scss";

html {
  top: 0;
}

.container {
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .formContainer {
    padding: 3rem;
    background-color: $color-primary-light;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      color: $color-primary;
    }

    .form {
      width: 30vw;
      display: flex;
      flex-direction: column;

      .inputContainer {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      input {
        width: 30vw;
        border-radius: 0.5rem;
        border: 1px solid transparent;
        height: 4rem;

        &:active,
        &:hover {
          border: 1px solid $color-primary;
        }
      }

      .btn {
        align-self: center;
        border: none;
        border-radius: 10rem;
        background-color: $color-primary;
        color: $color-grey-light;
        padding: 1rem 3rem;
        text-transform: uppercase;
        font-size: $default-font-size;
        cursor: pointer;
      }

      .disabledBtn {
        align-self: center;
        border: none;
        border-radius: 10rem;
        background-color: $color-grey;
        color: $color-grey-dark;
        padding: 1rem 3rem;
        text-transform: uppercase;
        font-size: $default-font-size;
        cursor: not-allowed;
      }

      .errors {
        margin-top: 3px;
        margin-left: 1.5rem;
        font-size: $tiny-font-size;
        color: darkred;
      }

      .link {
        color: $color-primary-dark;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}

.bigError {
  color: darkred;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}