@import "./../../variable.scss";

.main {
  padding: 5rem 10rem;
  display: flex;
  column-gap: 4rem;
  background-color: $color-primary-light;
}

.container {
  background-color: white;
  width: 100%;
  padding: 2rem;
  // background-color: $color-primary-light;
}
