@import "./../../variable.scss";

.main {
  background-color: $color-primary-light;
  padding: 5rem 10rem;
  display: flex;
  column-gap: 4rem;
}


.container {
  font-size: $default-font-size;
  width: calc(100% - 20rem - 15rem);

  h3 {
    margin-left: 2rem;
    font-size: 2.5rem;
    color: $color-primary;
  }
}

.allReviews {
  margin-top: 2rem;
  position: relative;
}


.btnContainers {
  position: absolute;
  top: 0;
  right: 2rem;

  .btn {
    display: inline-block;
  }
}