@import "../index.scss";

.container {
  background-color: $color-primary-light;
  height: 100vh;
  padding: 7rem 4rem 7rem 12rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .descriptionContainer {
    display: flex;
    flex-direction: column;

    h1 {
      line-height: 6rem;
      font-size: 6rem;
      font-weight: 400;
      color: $color-grey-dark;

      span {
        font-size: inherit;
        font-weight: 700;
        color: $color-primary;
      }
    }

    p {
      font-size: 2rem;
      color: $color-grey;
    }

    a {
      align-self: flex-start;
      text-decoration: none;
      color: $color-primary-light;
      background-color: $color-primary;
      border-radius: 10rem;
      font-size: 1.5rem;
      padding: 1rem 3rem;
    }
  }

  img {
    height: 80vh;
    border-radius: 5rem;
  }

  .description {
    margin: 2rem 0;
  }

  .contact {
    list-style: none;
    li {
      transform: rotate(-90deg);
      font-size: 1.5rem;
      color: $color-grey;

      &:not(:first-child) {
        margin-top: 8rem;
      }
    }
  }
}
