@import "./../../index.module.scss";

.container {
  display: flex;
  align-items: center;

  .imgContainer {
    img {
      height: 10rem;
    }
  }

  .title {
    color: $color-grey-dark;
    font-size: $small-title-font-size;
  }

  .desc {
    font-size: $tiny-font-size;
    color: $color-grey;
  }
}