@import "./../../index.scss";

.container {
  display: flex;
  align-items: center;

  .imgContainer {
    img {
      height: 10rem;
    }
  }

  .title {
    color: $color-grey-dark;
    font-size: $default-font-size;
  }

  .desc {
    font-size: 1rem;
    color: $color-grey;
  }
}