@import "./../../../index.scss";

.container {
    color: $color-primary;
    padding: 1rem 2rem;

    .header {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .icon {
            font-size: 3rem;
            fill: $color-primary;
            transition: all .3;
        }


        .minus::after {
            transform: rotate(-90deg);
        }

        span {
            position: relative;

            &::before {
                position: absolute;
                left: -.9rem;
                content: "";
                display: inline-block;
                height: 2px;
                width: 2rem;
                background-color: $color-primary;
            }

            &::after {
                position: absolute;
                top: -.9rem;
                content: "";
                display: inline-block;
                height: 2rem;
                width: 2px;
                background-color: $color-primary;
                transition: all .3s;
            }
        }
    }

    .checkbox {
        font-size: 1.6rem;
        margin: .5rem 0;
        cursor: pointer;

        input {
            display: none;
        }

        .option:checked~label span::after {
            display: block;
        }

        label {
            display: flex;
            align-items: center;
        }

        span {
            border: 2px solid $color-primary;
            display: inline-block;
            height: 1.5rem;
            width: 1.5rem;
            position: relative;
            cursor: pointer;
            margin-right: 1.2rem;

            &::after {
                content: '';
                display: none;
                position: absolute;
                top: -1px;
                left: .2rem;
                width: .5rem;
                height: .8rem;
                border: solid $color-primary;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }

    .menuContainer {
        margin-top: 1rem;
        margin-left: .5rem;
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: all .3s;
    }

    .hidden {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: none;
    }
}