@import "./../../../index.scss";

.drawerBtn {
    cursor: pointer;
    color: $color-primary-light;
    font-size: $default-font-size;
    margin: .5rem;
    padding: .7rem 2rem;
    background-color: $color-primary;
    border-radius: 10rem;
    border: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    .icon {
        height: 2rem;
        width: 2rem;
        fill: $color-primary-light;
        margin-right: .5rem;
    }
}

.container {
    background-color: $color-primary-light;
    width: 25vw;
    height: 100vh;
    font-size: 1.4rem;

    .drawerHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary;
        padding: 2rem 2rem;

        .title {
            color: $color-primary-light;
            font-size: $small-title-font-size;
        }

        .icon {
            font-size: $medium-title-font-size;
            fill: $color-primary-light ;
            cursor: pointer;
        }


    }



    .list {
        list-style: none;
        padding: 1rem 0;

        li {
            background-color: white;
            color: $color-grey-dark;
            padding: 1.5rem;
            margin: 1.2rem 2rem;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                background-color: $color-primary;
                color: $color-primary-light;
            }
        }

        li.curOption {
            background-color: $color-primary;
            color: $color-primary-light;
        }


    }
}