@import "./../../../index.module.scss";

.container {
  height: 8vh;
  background-color: $color-primary-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  color: $color-primary-light;
  font-size: 1.2rem;

  .list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      &:not(:last-child) {
        margin-right: 4rem;
      }

      color: $color-primary-light;
    }
  }
}