@import "./../../../variable.scss";

.container {
  padding: 3rem 10rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-primary-light;

  p {
    font-size: $tiny-font-size;
    color: $color-grey;
  }

  .iconContainer {
    margin-top: 2rem;

    a {
      margin-right: 2rem;

      .icon {
        height: 2rem;
        width: 2rem;
        fill: $color-primary;
        transition: all 0.3s ease;
      }

      &:hover {
        .icon {
          transform: scale(1.2);
        }
      }
    }
  }
}
