@import "./../../../index.module.scss";

.medium {
  display: inline-block;
  align-self: flex-start;
  text-decoration: none;
  color: $color-primary-light;
  background-color: $color-primary;
  border-radius: 10rem;
  font-size: $default-font-size;
  padding: 1rem 3rem;
  cursor: pointer;
}
