* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  position: absolute;
  top: 10vh;
  width: 100%;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #fdfdfd;
}

// COLORS
$color-primary-light: #ecf2e6;
$color-primary: #448150;
$color-primary-dark: #556a59;
$color-grey-light: #eaedf3;
$color-grey: #777776;
$color-grey-dark: #3a3a3a;

// FONT-SIZE
$default-font-size: 1.6rem;
$tiny-font-size: 1.2rem;

$small-title-font-size: 2rem;
$medium-title-font-size: 3rem;

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: $color-grey-dark;
}

input {
  border-radius: 10rem;
  border: 1px solid $color-grey-light;
  outline: none;
  padding: 0.7rem 1.5rem;

  &::placeholder {
    color: rgba($color-grey, 0.5);
  }
}

a {
  text-decoration: none;
}