@import "./../../index.scss";

.accordion {
    font-size: $default-font-size;

    .header {
        color: $color-primary;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 2rem;
        border-bottom: 1px solid $color-grey-light;
        cursor: pointer;
        transition: all .3s;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            transition: all .3s;
            height: 3rem;
            width: 3rem;
        }

        &:hover {
            // background-color: $color-primary-light;
        }
    }

    .header.active {
        // background-color: $color-primary-light;

        .icon {
            transform: rotate(-90deg);
        }
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
    }

    .content.active {
        max-height: 100vh;
    }
}