@import "./../../index.module.scss";

button {
  display: block;
  text-decoration: none;
  color: $color-primary-light;
  background-color: $color-primary;
  border: none;
  cursor: pointer;
}

.medium {
  font-size: $default-font-size;
  padding: 1rem 3rem;
}

.small {
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
}

.large {
  font-size: $small-title-font-size;
  padding: 1.5rem 5rem;
}

.square {
  border-radius: 3px;
}

.circle {
  border-radius: 10rem;
}