@import "./../../index.scss";

.checkbox {
  font-size: $default-font-size;
  margin: 0.5rem 0;
  cursor: pointer;

  input {
    display: none;
  }

  .option:checked~label span::after {
    display: block;
  }

  label {
    display: flex;
    align-items: center;
  }

  span {
    border: 2px solid $color-primary;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    cursor: pointer;
    margin-right: 1.2rem;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: -1px;
      left: 0.2rem;
      width: 0.5rem;
      height: 0.8rem;
      border: solid $color-primary;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}