@import "./../../index.scss";

.medium {
  align-self: flex-start;
  text-decoration: none;
  color: $color-primary-light;
  background-color: $color-primary;
  border-radius: 10rem;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
}