@import "../../index.module.scss";

.searchContainer {
  position: relative;
  margin-right: 2rem;
}

.icon {
  position: absolute;
  right: 1.5rem;
  top: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  fill: $color-primary;
}